@charset "UTF-8";

.top_inner {
  padding: 5%;
  height: 35em;
  position: relative;
}

.top_inner::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #f3f7f9;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}

.top_ttl {
  position: relative;
  z-index: 1;
}

.font1 {
  font-size: 15em;
  color: #e9eff2;
}

.font2 {
  color: #212836;
  font-size: 5em;
  position: absolute;
  top: 205px;
  left: 50px;
  line-height: 1.2;
}

.font2 small {
  display: block;
  font-size: 36px;
  margin-left: 5%;
}

.breadcrumb {
  width: 90%;
  margin-top: 2.5%;
}

.breadcrumb_list {
  display: flex;
}

.breadcrumb_item {
  font-size: 1.35em;
  position: relative;
  z-index: 1;
}

.breadcrumb_item::after {
  content: ">";
  padding: 0 10px;
  font-size: 1.1em;
}

.breadcrumb_item:last-child::after {
  content: "";
}

.breadcrumb_color {
  color: blue;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
.font1 {
  font-size: 12em;
}

.font2 {
  font-size: 4em;
  top: 160px
}

}

@media screen and (max-width: 768px) {
.breadcrumb {
  margin-bottom: 5%;
}

.font1 {
    font-size: 9.5em;
}

.font2 {
  font-size: 3.3em;
  top: 120px;
  left: 30px;
}

.font2 small {
  font-size: 25px;
  margin-left: 4%;
}

.top_inner {
  height: 27em;
}

}

@media screen and (max-width: 480px) {
.breadcrumb {
  font-size: 0.8em;
  margin: unset;
}

.top_inner {
  height: 11em;
}

.font1 {
  font-size: 4em;
}

.font2 {
  font-size: 1.2em;
  top: 55px;
  left: 15px;
}

.font2 small {
  font-size: 10px;
}

}